
<h2> Welcome to Knit Happens! Join us below and get stitching! </h2>

<form action="/signup" method="POST">
  <input type="text" name="username" placeholder="Username:">
  <input type="text" name="email" placeholder='Email Address:'>
  <input type="password" name="password" placeholder="Password:">
  <input type="submit" value="submit">
</form>
