
<h2> Welcome to BluePips Technical Analysis! Join us to start posting projects! </h2>

<form action="/signup" method="POST">
  <input type="text" name="username" placeholder="Username:">
  <input type="text" name="email" placeholder='Email Address:'>
  <input type="password" name="password" placeholder="Password:">
  <input type="submit" value="submit">
</form>
