
<h2>Knit me baby, one more line!</h2>
<p>Add your new project below:</p>
<form action="/projects" method="POST">
  <p>Name: <input type="text" name="name"></p>
  <p>Image URL: <input type="text" name="image_url"></p>
  <p>Materials: <input type="text" name="materials"></p>
  <p>Instructions: </p>
    <textarea name="instructions" value='instructions'rows="10" cols="30"></textarea>
    <br>
  <input type="submit" value="submit">
</form>
