
<h2>Submit Details of Your Forex Analysis!</h2>
<p>Add your forex project below:</p>
<form action="/projects" method="POST">
  <p>Pair: <input type="text" name="Pair"></p>
  <p>Image URL: <input type="text" name="image_url"></p>
  <p>Technical Analysis: </p>
    <textarea name="technical analysis" value='technical_analysis'rows="10" cols="30"></textarea>
    <br>
  <input type="submit" value="submit">
</form>
