<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />

  <title>BluePips Technical Analysis</title>

  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <link rel="stylesheet" href="/stylesheets/main.css" />
  <form class="form-inline my-2 my-lg-0">
               <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
               <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
             </form>
</head>

<body>
  <div class="wrapper">

  <div class="container">
  <div class ='header'>
      <% if logged_in? %>
      <h1> Bluepips Technical Analysis</h1>
      <ul>
        <li><a href="/projects"> Home </a></li>
        <li><a href="/users/<%=current_user.slug%>"> Your Projects </a></li>
        <li><a href="/projects/new"> Create Project </a></li>
        <li><a href="/logout"> Log Out </a></li>
      </ul>
      <% else %>
      <h1> Bluepips Technical Analysis</h1>
      <ul>
        <li><a href="/signup">Sign Up</a></li>
        <li><a href="/login"> Log In </a></li>
      </ul>
      <%end %>
  </div>
  <br>

    <%= yield %>

     <div class='error_message'>
      <% if !!flash[:error] %>
        <%= flash[:error] %>
      <% end %>

    </div>

    <footer class="branding">
      <small>DISCLAIMER: FOREX Trading carries considerable risk.   </small>
      <small>&copy; 2019 <strong>BluePips</strong></small>
    </footer>
  </div>

  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
  <!--[if lt IE 7]>
    <script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.2/CFInstall.min.js"></script>
    <script>window.attachEvent("onload",function(){CFInstall.check({mode:"overlay"})})</script>
  <![endif]-->
</body>
